
.gioithieu-tit{
   
   
    position: relative;
    margin-top: 5px;
    border-top: 40px solid #000;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent; 
    height: 20px;
    width: 280px;
    
    
    /* width: 100px;  */
    }
    .gioithieu-tit::after{
        content: 'Chi tiết tin tuc';
        position: absolute;
        top: -30px;
        right: 20px;
        color: white;
    }