
.gioithieu-tit{
   
   
    position: relative;
    margin-top: 5px;
    border-top: 40px solid black;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent; 
    height: 20px;
    width: 280px;
    
    
    /* width: 100px;  */
    }
    .gioithieu-tit::after{
        content: 'Chi tiết tin tuc';
        position: absolute;
        top: -30px;
        right: 20px;
        color: white;
    }



.button-like {
    border: 2px solid #8a8a8a;
    background-color: transparent;
    text-decoration: none;
    padding: 1rem;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 3rem;
    color: #8a8a8a;
    transition: all ease 0.4s;
  }
  
  .button-like span {
    margin-left: 0.5rem;
  }
  
  .button-like .fa,
  .button-like span {
    transition: all ease 0.4s;
  }
  
  .button-like:focus {
    background-color: transparent;
  }
  
  .button-like:focus .fa,
  .button-like:focus span {
    color: #8a8a8a;
  }
  
  .button-like:hover {
    border-color: #cc4b37;
    background-color: transparent;
  }
  
  .button-like:hover .fa,
  .button-like:hover span {
    color: #cc4b37;
  }
  
  .liked {
    background-color: #cc4b37;
    border-color: #cc4b37;
  }
  
  .liked .fa,
  .liked span {
    color: #fefefe;
  }
  
  .liked:focus {
    background-color: #cc4b37;
  }
  
  .liked:focus .fa,
  .liked:focus span {
    color: #fefefe;
  }
  
  .liked:hover {
    background-color: #cc4b37;
    border-color: #cc4b37;
  }
  
  .liked:hover .fa,
  .liked:hover span {
    color: #fefefe;
  }
  
  
  @media only screen and  (max-width:1000px) {
    .gioithieu-tit{


      left: 50px;
      
      
    
      }
    .thontin-ss{

margin-left: 30px;
    }
    .thongtin-detailw> .col-12
    {
      margin-left: 20px;
    }

    .list-sp>.col-md-9{
      order: 1;
      }
      .list-sp>.col-md-3{
          order: 2;
          }

          
.gioithieu-tit{
   
   
  position: relative;
  margin-top: 5px;
  border-top: 40px solid #5a7295;
  border-left: 0px solid transparent;
  border-right: 0 !important; 
  height: 20px;
  width: 100%;
  left: 0;
  
  /* width: 100px;  */
  }
  .gioithieu-tit::after{
      content: 'Chi tiết tin tuc';
      position: absolute;
      top: -30px;
      right: 20px;
      color: white;
      left: 0;
  }

    }
  