
.gioithieu-tit{
   
   
    position: relative;
    margin-top: 5px;
    border-top: 40px solid black;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent; 
    height: 20px;
    width: 280px;
    
    
    /* width: 100px;  */
    }
    .gioithieu-tit::after{
        content: 'Dịch vụ';
        position: absolute;
        top: -30px;
        right: 20px;
        color: white;
    }


    @media only screen and  (max-width:1000px) {

       
.gioithieu-tit{
   
   
    position: relative;
    margin-top: 5px;
    border-top: 40px solid black;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent; 
    height: 20px;
    width: 280px;
    
    
  left: 50px;
    }
    }