
.lienhe-tit{
   
   
    position: relative;
    margin-top: 5px;
    border-top: 40px solid black;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent; 
    height: 20px;
    width: 280px;
    
    
    /* width: 100px;  */
    }
    .lienhe-tit::after{
        content: 'Liên hệ';
        position: absolute;
        top: -30px;
        right: 20px;
        color: white;
    }

    @media only screen and  (max-width:1000px) {

       
        .lienhe-tit{
           
          left: 50px;
          
           
            }
            .thongtin-detailw > .col-6
            {
                width: auto;
               border: none !important;
            }
            .thongtin-detailw > .frm_lienhe
            {
                /* width: 500px; */

              
            }
            .list-sp>.col-md-9{
                order: 1;
                }
                .list-sp>.col-md-3{
                    order: 2;
                    }
                    
.lienhe-tit{
   
   
    position: relative;
    margin-top: 5px;
    border-top: 40px solid #5a7295;
    border-left: 0px solid transparent;
    border-right: 0 !important; 
    height: 20px;
    width: 100%;
    left: 0;
    
    /* width: 100px;  */
    }
    .lienhe-tit::after{
        content: 'Liên hệ';
        position: absolute;
        top: -30px;
        left: 0;
        right: 20px;
        color: white;
    }

            }